# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

.venv/
venv/

# Environment
.env
.env.*

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage

# Database
*.db

# Logs
*.log